[requires]
python_version = "3.11"

[packages]
python-dotenv = "*"
requests = "*"
uvicorn = "*"
litestar = { version = "*", extras = ["standard"] }
numpy = "*"  
tflite-runtime = { version = "==2.14.0", markers = "platform_system == 'Linux'" }

[dev-packages]
tensorflow = { version = "*", markers = "platform_system == 'Darwin' and platform_machine == 'arm64'" }
tensorflow-metal = { version = "*", markers = "platform_system == 'Darwin' and platform_machine == 'arm64'" }
types-tensorflow = "*"
ipykernel = "*"
