[requires]
python_version = "3.12"

[packages]
python-dotenv = "*"
requests = "*"
uvicorn = "*"
litestar = { version = "*", extras = ["standard"] }
pillow = "*"
numpy = "*"
ai-edge-litert = "==1.3.0"

[dev-packages]
tensorflow = { version = "==2.17.*", markers = "platform_system == 'Darwin' and platform_machine == 'arm64'" }
tensorflow-metal = { version = "*", markers = "platform_system == 'Darwin' and platform_machine == 'arm64'" }
types-tensorflow = "*"
